@import url(https://fonts.googleapis.com/css?family=League+Spartan:300,regular,500,600,700);

@import url(https://fonts.googleapis.com/css?family=Lato:regular,500,600,700);

@charset "UTF-8";

.spollers {
  display: -ms-grid;
  display: grid;
  gap: 24px;
}

.spollers__item {
  font-size: 1.5rem;
}

.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  padding: 1.5rem 1.875rem;
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

._spoller-init .spollers__title {
  cursor: pointer;
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 30px;
  top: 50%;
  background: #23b123;
  height: 2px;
  width: 10px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.spollers__body {
  margin-top: 10px;
  padding: 1.25rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "League Spartan";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "League Spartan";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #263238;
  color: #fff;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 88.75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container-big] {
  max-width: 101.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form {
  position: relative;
  z-index: 0;
  width: 33.3125rem;
  background-color: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 7px 7px 5px;
}

.form input {
  padding: 5px 5px 5px 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 20px;
}

.form input:focus {
  outline: none;
}

.form__error {
  position: absolute;
  top: 110%;
  left: 0;
  color: red;
  font-size: 0.875rem;
  -webkit-transform: translateX(25px);
      -ms-transform: translateX(25px);
          transform: translateX(25px);
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title-green {
  font-style: normal;
  font-weight: 700;
  line-height: 1.1142857143;
  color: #ffffff;
}

@supports (font-size: clamp( 2.1875rem , 1.5680309735rem  +  3.0973451327vw , 4.375rem )) {
  .title-green {
    font-size: clamp( 2.1875rem , 1.5680309735rem  +  3.0973451327vw , 4.375rem );
  }
}

@supports not (font-size: clamp( 2.1875rem , 1.5680309735rem  +  3.0973451327vw , 4.375rem )) {
  .title-green {
    font-size: calc(2.1875rem + 2.1875 * (100vw - 20rem) / 70.625);
  }
}

@supports (font-size: clamp( 1.875rem , 1.2732300885rem  +  3.0088495575vw , 4rem )) {
  .title-green__s64 {
    font-size: clamp( 1.875rem , 1.2732300885rem  +  3.0088495575vw , 4rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.2732300885rem  +  3.0088495575vw , 4rem )) {
  .title-green__s64 {
    font-size: calc(1.875rem + 2.125 * (100vw - 20rem) / 70.625);
  }
}

.title-green span {
  display: inline;
  color: #23b123;
}

@supports (font-size: clamp( 1.875rem , 1.2732300885rem  +  3.0088495575vw , 4rem )) {
  .title-green__mid {
    font-size: clamp( 1.875rem , 1.2732300885rem  +  3.0088495575vw , 4rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.2732300885rem  +  3.0088495575vw , 4rem )) {
  .title-green__mid {
    font-size: calc(1.875rem + 2.125 * (100vw - 20rem) / 70.625);
  }
}

@supports (font-size: clamp( 1.5rem , 0.9336283186rem  +  2.8318584071vw , 3.5rem )) {
  .title-green__small {
    font-size: clamp( 1.5rem , 0.9336283186rem  +  2.8318584071vw , 3.5rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 0.9336283186rem  +  2.8318584071vw , 3.5rem )) {
  .title-green__small {
    font-size: calc(1.5rem + 2 * (100vw - 20rem) / 70.625);
  }
}

.text {
  line-height: 177%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 2;
}

@supports (padding-top: clamp( 1.25rem , 0.5420353982rem  +  3.5398230088vw , 3.75rem )) {
  .header {
    padding-top: clamp( 1.25rem , 0.5420353982rem  +  3.5398230088vw , 3.75rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.5420353982rem  +  3.5398230088vw , 3.75rem )) {
  .header {
    padding-top: calc(1.25rem + 2.5 * (100vw - 20rem) / 70.625);
  }
}

@supports (padding-bottom: clamp( 0.625rem , -0.2599557522rem  +  4.4247787611vw , 3.75rem )) {
  .header {
    padding-bottom: clamp( 0.625rem , -0.2599557522rem  +  4.4247787611vw , 3.75rem );
  }
}

@supports not (padding-bottom: clamp( 0.625rem , -0.2599557522rem  +  4.4247787611vw , 3.75rem )) {
  .header {
    padding-bottom: calc(0.625rem + 3.125 * (100vw - 20rem) / 70.625);
  }
}

.header__container-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.header__logo {
  position: relative;
  z-index: 6;
}

@supports (width: clamp( 6.25rem , 2.65625rem  +  6.3888888889vw , 9.125rem )) {
  .header__logo {
    width: clamp( 6.25rem , 2.65625rem  +  6.3888888889vw , 9.125rem );
  }
}

@supports not (width: clamp( 6.25rem , 2.65625rem  +  6.3888888889vw , 9.125rem )) {
  .header__logo {
    width: calc(6.25rem + 2.875 * (100vw - 56.25rem) / 45);
  }
}

.header__logo img {
  max-width: 100%;
}

.header__logo::before,
.header__logo::after {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 36.5625rem;
  height: 36.5625rem;
  border-radius: 50%;
  top: -21.875rem;
  left: -21.875rem;
  border: 1px solid #ffffff;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.header__logo::before {
  top: 0;
  -webkit-transform: translate(11%, -55%);
      -ms-transform: translate(11%, -55%);
          transform: translate(11%, -55%);
}

.header__logo::after {
  top: 0;
  -webkit-transform: translate(calc(11% + 55px), calc(-55% - 55px));
      -ms-transform: translate(calc(11% + 55px), calc(-55% - 55px));
          transform: translate(calc(11% + 55px), calc(-55% - 55px));
}

.header__actions {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.header._header-scroll {
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(25, 30, 31, 0.814);
}

.header._header-scroll .header__logo::before,
.header._header-scroll .header__logo::after {
  top: -9.375rem;
  left: -21.875rem;
  border: 1px solid rgba(255, 255, 255, 0.1529411765);
}

.menu-open .menu__body {
  left: 0;
}

.menu-open .menu__body::before {
  left: 0;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (gap: clamp( 1.25rem , 0.8252212389rem  +  2.1238938053vw , 2.75rem )) {
  .menu__list {
    gap: clamp( 1.25rem , 0.8252212389rem  +  2.1238938053vw , 2.75rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.8252212389rem  +  2.1238938053vw , 2.75rem )) {
  .menu__list {
    gap: calc(1.25rem + 1.5 * (100vw - 20rem) / 70.625);
  }
}

.menu__link {
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.button {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  line-height: 1.2222222222;
  padding: 20px 25px;
  background: #23b123;
  border-radius: 0.625rem;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@supports (font-size: clamp( 0.9375rem , 0.8844026549rem  +  0.2654867257vw , 1.125rem )) {
  .button {
    font-size: clamp( 0.9375rem , 0.8844026549rem  +  0.2654867257vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.9375rem , 0.8844026549rem  +  0.2654867257vw , 1.125rem )) {
  .button {
    font-size: calc(0.9375rem + 0.1875 * (100vw - 20rem) / 70.625);
  }
}

.button_border {
  padding: 20px 44px;
  border: 1px solid #ffffff;
  background-color: #263238;
}

.icon-menu {
  display: none;
}

.footer__main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

@supports (padding-top: clamp( 1.875rem , 1.2024336283rem  +  3.3628318584vw , 4.25rem )) {
  .footer__main {
    padding-top: clamp( 1.875rem , 1.2024336283rem  +  3.3628318584vw , 4.25rem );
  }
}

@supports not (padding-top: clamp( 1.875rem , 1.2024336283rem  +  3.3628318584vw , 4.25rem )) {
  .footer__main {
    padding-top: calc(1.875rem + 2.375 * (100vw - 20rem) / 70.625);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 0.6360619469rem  +  6.1946902655vw , 6.25rem )) {
  .footer__main {
    padding-bottom: clamp( 1.875rem , 0.6360619469rem  +  6.1946902655vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 0.6360619469rem  +  6.1946902655vw , 6.25rem )) {
  .footer__main {
    padding-bottom: calc(1.875rem + 4.375 * (100vw - 20rem) / 70.625);
  }
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (padding-top: clamp( 1.25rem , 0.6128318584rem  +  3.185840708vw , 3.5rem )) {
  .footer__bottom {
    padding-top: clamp( 1.25rem , 0.6128318584rem  +  3.185840708vw , 3.5rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.6128318584rem  +  3.185840708vw , 3.5rem )) {
  .footer__bottom {
    padding-top: calc(1.25rem + 2.25 * (100vw - 20rem) / 70.625);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 0.6128318584rem  +  3.185840708vw , 3.5rem )) {
  .footer__bottom {
    padding-bottom: clamp( 1.25rem , 0.6128318584rem  +  3.185840708vw , 3.5rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.6128318584rem  +  3.185840708vw , 3.5rem )) {
  .footer__bottom {
    padding-bottom: calc(1.25rem + 2.25 * (100vw - 20rem) / 70.625);
  }
}

.main-footer__title {
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 24px;
}

.main-footer__text {
  max-width: 20.625rem;
  margin-bottom: 1.5rem;
  line-height: 177%;
}

.main-footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: end;
      justify-self: end;
  gap: 3rem;
}

.follow__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 24px;
}

.follow__icon-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.follow__icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.call-us__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 24px;
}

.bottom-footer {
  border-top: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.menus__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.host__container-big {
  position: relative;
}

@supports (padding-top: clamp( 11.875rem , 10.8130530973rem  +  5.3097345133vw , 15.625rem )) {
  .host__container {
    padding-top: clamp( 11.875rem , 10.8130530973rem  +  5.3097345133vw , 15.625rem );
  }
}

@supports not (padding-top: clamp( 11.875rem , 10.8130530973rem  +  5.3097345133vw , 15.625rem )) {
  .host__container {
    padding-top: calc(11.875rem + 3.75 * (100vw - 20rem) / 70.625);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 1.3550884956rem  +  8.8495575221vw , 9.375rem )) {
  .host__container {
    padding-bottom: clamp( 3.125rem , 1.3550884956rem  +  8.8495575221vw , 9.375rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.3550884956rem  +  8.8495575221vw , 9.375rem )) {
  .host__container {
    padding-bottom: calc(3.125rem + 6.25 * (100vw - 20rem) / 70.625);
  }
}

.host__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.host__title {
  max-width: 50rem;
  text-align: center;
}

@supports (padding-bottom: clamp( 1.875rem , 1.1847345133rem  +  3.4513274336vw , 4.3125rem )) {
  .host__title {
    padding-bottom: clamp( 1.875rem , 1.1847345133rem  +  3.4513274336vw , 4.3125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.1847345133rem  +  3.4513274336vw , 4.3125rem )) {
  .host__title {
    padding-bottom: calc(1.875rem + 2.4375 * (100vw - 20rem) / 70.625);
  }
}

.host__text {
  max-width: 45.3125rem;
  margin-bottom: 3rem;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  /* or 32px */
  text-align: center;
}

.host__form {
  position: relative;
  z-index: 0;
}

.icons-host__icon {
  position: absolute;
}

.icons-host__icon_1 {
  top: 48.2051282051%;
  left: 18%;
}

.icons-host__icon_2 {
  left: 0;
  top: 76.9230769231%;
}

.icons-host__icon_3 {
  left: 26%;
  top: 87.1794871795%;
}

.icons-host__icon_4 {
  top: 134px;
  right: 27%;
}

.icons-host__icon_5 {
  top: 467px;
  right: 20%;
}

.icons-host__icon_6 {
  top: 367px;
  right: 0;
}

.icons-host__icon_7 {
  top: 87.1794871795%;
  right: 19%;
}

.partners__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (padding-top: clamp( 0.9375rem , 0.6720132743rem  +  1.3274336283vw , 1.875rem )) {
  .partners__container {
    padding-top: clamp( 0.9375rem , 0.6720132743rem  +  1.3274336283vw , 1.875rem );
  }
}

@supports not (padding-top: clamp( 0.9375rem , 0.6720132743rem  +  1.3274336283vw , 1.875rem )) {
  .partners__container {
    padding-top: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 70.625);
  }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.6720132743rem  +  1.3274336283vw , 1.875rem )) {
  .partners__container {
    padding-bottom: clamp( 0.9375rem , 0.6720132743rem  +  1.3274336283vw , 1.875rem );
  }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.6720132743rem  +  1.3274336283vw , 1.875rem )) {
  .partners__container {
    padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 70.625);
  }
}

@supports (padding-top: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem )) {
  .how {
    padding-top: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem )) {
  .how {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 70.625);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem )) {
  .how {
    padding-bottom: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem )) {
  .how {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 70.625);
  }
}

.how__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3.125rem;
}

.how__content {
  max-width: 35.875rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40.4225352113%;
          flex: 0 1 40.4225352113%;
}

.how__title {
  margin-bottom: 2rem;
}

.how__text {
  margin-bottom: 3rem;
}

.steps-how {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
}

.steps-how__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.steps-how__icon {
  min-width: 6.875rem;
  height: 6.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: rgba(0, 128, 0, 0.1);
}

.steps-how__body {
  max-width: 21.75rem;
}

.steps-how__title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.375rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.steps-how__text {
  line-height: 180%;
  font-size: 1.125rem;
}

.how_image {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 52.8169014085%;
          flex: 0 1 52.8169014085%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (padding-top: clamp( 2.5rem , 0.2345132743rem  +  11.3274336283vw , 10.5rem )) {
  .how_image {
    padding-top: clamp( 2.5rem , 0.2345132743rem  +  11.3274336283vw , 10.5rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 0.2345132743rem  +  11.3274336283vw , 10.5rem )) {
  .how_image {
    padding-top: calc(2.5rem + 8 * (100vw - 20rem) / 70.625);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 0.2345132743rem  +  11.3274336283vw , 10.5rem )) {
  .how_image {
    padding-bottom: clamp( 2.5rem , 0.2345132743rem  +  11.3274336283vw , 10.5rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.2345132743rem  +  11.3274336283vw , 10.5rem )) {
  .how_image {
    padding-bottom: calc(2.5rem + 8 * (100vw - 20rem) / 70.625);
  }
}

@supports (padding-left: clamp( 0.625rem , -0.0829646018rem  +  3.5398230088vw , 3.125rem )) {
  .how_image {
    padding-left: clamp( 0.625rem , -0.0829646018rem  +  3.5398230088vw , 3.125rem );
  }
}

@supports not (padding-left: clamp( 0.625rem , -0.0829646018rem  +  3.5398230088vw , 3.125rem )) {
  .how_image {
    padding-left: calc(0.625rem + 2.5 * (100vw - 20rem) / 70.625);
  }
}

@supports (padding-right: clamp( 0.625rem , -0.0829646018rem  +  3.5398230088vw , 3.125rem )) {
  .how_image {
    padding-right: clamp( 0.625rem , -0.0829646018rem  +  3.5398230088vw , 3.125rem );
  }
}

@supports not (padding-right: clamp( 0.625rem , -0.0829646018rem  +  3.5398230088vw , 3.125rem )) {
  .how_image {
    padding-right: calc(0.625rem + 2.5 * (100vw - 20rem) / 70.625);
  }
}

.how_image::after,
.how_image::before {
  content: "";
  position: absolute;
  display: block;
  height: 36.5625rem;
  width: 36.5625rem;
  border: 1px solid #fff;
  border-radius: 50%;
}

.how_image::after {
  top: -3%;
  right: -41%;
}

.how_image::before {
  top: -14%;
  right: -39%;
}

.how_image img {
  max-width: 100%;
  border-radius: 22px;
  display: block;
  position: relative;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

@supports (padding-top: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem )) {
  .pathway {
    padding-top: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem )) {
  .pathway {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 70.625);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem )) {
  .pathway {
    padding-bottom: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem )) {
  .pathway {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 70.625);
  }
}

.pathway__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 3.125rem;
}

.pathway__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48.8732394366%;
          flex: 0 1 48.8732394366%;
  padding: 100px 40px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.pathway__image::after,
.pathway__image::before {
  content: "";
  position: absolute;
  display: block;
  height: 36.5625rem;
  width: 36.5625rem;
  border: 1px solid #fff;
  border-radius: 50%;
}

.pathway__image::after {
  left: -30%;
  top: 28%;
}

.pathway__image::before {
  left: -28%;
  top: 36%;
}

.pathway__image img {
  position: relative;
  z-index: 1;
  max-width: 100%;
  border-radius: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

.pathway__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40.1408450704%;
          flex: 0 1 40.1408450704%;
}

.pathway__title {
  max-width: 31.25rem;
  margin-bottom: 1.8125rem;
}

.pathway__text {
  max-width: 31.25rem;
  margin-bottom: 3.1875rem;
}

.pathway__spoilers {
  max-width: 37.5rem;
}

@supports (padding-top: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem )) {
  .why {
    padding-top: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem )) {
  .why {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 70.625);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem )) {
  .why {
    padding-bottom: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem )) {
  .why {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 70.625);
  }
}

.why__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
}

.why__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.why__title {
  max-width: 28.125rem;
}

.why__text {
  max-width: 31.25rem;
}

.title-green:not(:last-child) {
  margin-bottom: 2rem;
}

.text:not(:last-child) {
  margin-bottom: 3rem;
}

.points {
  margin-bottom: 3rem;
}

.points__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.125rem;
}

.points__item:not(:last-child) {
  margin-bottom: 3rem;
}

.points__number {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.05);
  font-size: 36px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-why {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.image-why__block {
  border-radius: 20px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);
}

.image-why__block img {
  max-width: 100%;
  display: block;
  border-radius: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

@supports (padding-top: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem )) {
  .reviews {
    padding-top: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem )) {
  .reviews {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 70.625);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem )) {
  .reviews {
    padding-bottom: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem )) {
  .reviews {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 70.625);
  }
}

.reviews__container {
  text-align: center;
}

.reviews__title {
  margin-bottom: 2rem;
}

.reviews__text {
  display: inline-block;
  max-width: 39.6478873239%;
  margin-bottom: 3rem;
}

.reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  margin-bottom: 3rem;
}

.cart-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 22px;
  overflow: hidden;
  max-width: 43.125rem;
}

.cart-reviews__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 44.0233236152%;
          flex: 1 1 44.0233236152%;
  position: relative;
  padding-bottom: 54.95%;
}

.cart-reviews__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart-reviews__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 55.9766763848%;
          flex: 1 1 55.9766763848%;
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.cart-reviews__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.cart-reviews__name {
  font-weight: 600;
}

.apps {
  padding: 0 15px;
}

@supports (padding-top: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem )) {
  .apps {
    padding-top: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem )) {
  .apps {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 70.625);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem )) {
  .apps {
    padding-bottom: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.4380530973rem  +  5.3097345133vw , 6.25rem )) {
  .apps {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 70.625);
  }
}

.apps__container {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

@supports (padding-top: clamp( 2.1875rem , 1.5326327434rem  +  3.2743362832vw , 4.5rem )) {
  .apps__container {
    padding-top: clamp( 2.1875rem , 1.5326327434rem  +  3.2743362832vw , 4.5rem );
  }
}

@supports not (padding-top: clamp( 2.1875rem , 1.5326327434rem  +  3.2743362832vw , 4.5rem )) {
  .apps__container {
    padding-top: calc(2.1875rem + 2.3125 * (100vw - 20rem) / 70.625);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.2378318584rem  +  3.185840708vw , 4.125rem )) {
  .apps__container {
    padding-bottom: clamp( 1.875rem , 1.2378318584rem  +  3.185840708vw , 4.125rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.2378318584rem  +  3.185840708vw , 4.125rem )) {
  .apps__container {
    padding-bottom: calc(1.875rem + 2.25 * (100vw - 20rem) / 70.625);
  }
}

.apps__title {
  max-width: 53.125rem;
  margin-bottom: 3.125rem;
}

.apps__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.apps_circle {
  position: absolute;
  width: 585px;
  height: 585px;
  border: 1px solid rgba(255, 255, 255, 0.37);
  border-radius: 50%;
}

.apps_circle_1 {
  top: -5%;
  right: 29%;
}

.apps_circle_2 {
  top: -20%;
  right: 29%;
}

@media (min-width: 63.9375em) {
  .header__container-big {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 18.75rem 1fr 18.75rem;
    grid-template-columns: 18.75rem 1fr 18.75rem;
    gap: 1.25rem;
  }
}

@media (min-width: 68.75em) {
  .button {
    min-width: 9.0625rem;
  }
}

@media (max-width: 25em) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    gap: 0.625rem;
  }
}

@media (max-width: 81.25em) {
  .main-footer__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 71.875em) {
  .partners__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3.125rem;
  }
}

@media (max-width: 61.99875em) {
  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .header__logo::before,
  .header__logo::after {
    opacity: 0.7;
    width: 30.3125rem;
    height: 30.3125rem;
  }

  .button {
    padding: 15px 15px;
  }

  .button_border {
    padding: 15px 20px;
  }

  .footer__main {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .main-footer__center {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .main-footer__right {
    -ms-grid-column-align: start;
        justify-self: start;
  }

  .how__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .pathway__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .pathway__title {
    max-width: 100%;
  }

  .pathway__text {
    max-width: 100%;
  }

  .pathway__spoilers {
    max-width: 100%;
  }

  .why__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .reviews__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 47.99875em) {
  .header__logo::before,
  .header__logo::after {
    opacity: 0.3;
    width: 22.1875rem;
    height: 22.1875rem;
    top: -15.625rem;
    left: -15.625rem;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    z-index: 5;
    overflow: auto;
    text-align: center;
    background-color: #263238;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    z-index: 2;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #191e20;
  }

@supports (height: clamp( 4.375rem , 2.5892857143rem  +  8.9285714286vw , 6.875rem )) {
    .menu__body::before {
      height: clamp( 4.375rem , 2.5892857143rem  +  8.9285714286vw , 6.875rem );
    }
}

@supports not (height: clamp( 4.375rem , 2.5892857143rem  +  8.9285714286vw , 6.875rem )) {
    .menu__body::before {
      height: calc(4.375rem + 2.5 * (100vw - 20rem) / 28);
    }
}

  .menu__list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5625rem;
    font-size: 2.1875rem;
  }

@supports (padding-top: clamp( 5.625rem , 2.7931415929rem  +  14.1592920354vw , 15.625rem )) {
    .menu__list {
      padding-top: clamp( 5.625rem , 2.7931415929rem  +  14.1592920354vw , 15.625rem );
    }
}

@supports not (padding-top: clamp( 5.625rem , 2.7931415929rem  +  14.1592920354vw , 15.625rem )) {
    .menu__list {
      padding-top: calc(5.625rem + 10 * (100vw - 20rem) / 70.625);
    }
}

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: rgb(255, 255, 255);
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__main {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .bottom-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 25px;
  }

  .icons-host__icon {
    opacity: 0.5;
  }

  .how__content {
    width: 100%;
  }

  .steps-how__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: center;
  }

  .button {
    width: 100%;
  }

  .reviews__text {
    max-width: 90%;
  }

  .cart-reviews {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 34.375em) {
  .form {
    width: 100%;
  }

  .form input {
    padding: 5px;
  }
}

@media (max-width: 29.99875em) {
  .button {
    padding: 10px 10px;
  }

  .steps-how__body {
    width: 100%;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #1c861c;
  }

  .button:hover {
    background-color: #1c861c;
  }

  .button_border:hover {
    background-color: #191e20;
  }
}